{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        * {
          padding: 0;
          margin: 0px;
        }
        body{
          background-color: black;
        }
          @font-face {
              font-family: 'Comic Sans MS';
              src: url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
          }
    </style>
    <meta charset="UTF-8">

    
    <link rel="shortcut icon" href="{% static 'dumcrown/images/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} <script src="{% static 'dumcrown/game/phaser/dist/phaser.min.js' %}"></script> {% endcomment %}
    <script src="//cdn.jsdelivr.net/npm/phaser@3.88.2/dist/phaser.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      var gameversion ="{{GAME_VERSION}}"
    </script>
    
    <title>Dum Crown - game</title>
    

</head>
<body>
  
    <div id="game-display">
    </div>
    <script type="module" src="{% static 'dumcrown/game/main.js' %}">

    </script>

    <a href="{% url 'dumcrown:logout' %}">sair</a>
</body>
</html>