{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'dumcrown/game/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'dumcrown/game/node_modules/phaser/dist/phaser.min.js' %}"></script>
    <script type="module" src="{% static 'dumcrown/game/game.js' %}"></script>
    <title>Jogo</title>

</head>
<body>
<div id="game-display"></div>
    

</body>
</html>